
@font-face {
  font-family: '1942report';
  src: url('1942report.eot?#iefix') format('embedded-opentype'),  url('1942report.woff') format('woff'), url('1942report.ttf')  format('truetype'), url('1942report.svg#1942report') format('svg');
  font-weight: normal;
  font-style: normal;
}
